<!DOCTYPE html>
<html>
<head>
<style>

li{
	list-style: none;
	margin-bottom: 1em;
}

table {
	border-collapse: collpase:
	width: 100%;
}

th, td {
	padding 8px;
	text-allign: left;
	border-bottom: 1px solid #ddd;
}

</style>
	<h1>Report for {{employee}} as of {{date}}</h1>
</head>

<body>
	myFunction({{training}},{{trainingStatus}});
	myFunction({{shifts}},{{shiftStatus}});
	myFunction({{actCalls}},{{callStatus}});
	myFunction({{workDeets}},{{workDeetStatus}});
	myFunction({{apparatus}},{{apparatusStatus}});
	myFunction({{fundraisers}},{{fundraiserStatus}});
	myFunction({{meetings}},{{meetingStatus}});
	
	mySwag();
	<h2>You are {{empStatus}}</h2>
	
	<table>
		<tr>
			<th>Category</th>
			<th>Current</th>
			<th>Required</th>
		</tr>
		<tr>
			<td>Training hours</td>
			<td><p id="train"></p>{{training}} - {{trainingStatus}}</td>
			<td>60</td>
		</tr>
		<tr>
			<td>Shifts</td>
			<td>{{shifts}} - {{shiftStatus}}</td>
			<td>36</td>
		</tr>
		<tr>
			<td>Actual Calls</td>
			<td>{{actCalls}} - {{callStatus}}</td>
			<td>54</td>
		</tr>
		<tr>
			<td>Work Detail Hours</td>
			<td>{{workDeets}} - {{workDeetStatus}}</td>
			<td>36</td>
		</tr>
		<tr>
			<td>Sundays & Weeklies</td>
			<td>{{apparatus}} - {{apparatusStatus}}</td>
			<td>12</td>
		</tr>
		<tr>
			<td>Fundraisers</td>
			<td>{{fundraisers}} - {{fundraiserStatus}}</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Buisness Meetings</td>
			<td>{{meetings}} - {{meetingStatus}}</td>
			<td>6</td>
		</tr>
	</table>	
	
	<br>
	<button onclick="window.print()">Download Report</button>
	

</body>

<script>
function myFunction(statement,status){
	if (status == "Behind-Schedule"){
		statement.fontcolor("red");
		status.fontcolor("red");
	}
	if (status == "Falling-Behind"){
		statement.fontcolor("yellow");
		status.fontcolor("yellow");
	}
	if (status == "On-Track"){
		statement.fontcolor("green");
		status.fontcolor("green");
	}
	if (status == "Complete"){
		statement.fontcolor("blue");
		status.fontcolor("blue");
	}
}
</script>

<script>
function mySwag(){
	document.getElementById("train").innerHTML = 5+6;
	document.getElementById("train").style.color = "red";
}
</script>
			
</html>