<!DOCTYPE html>
<html>
	<head>
		<style>

			li{
				list-style: none;
				margin-bottom: 1em;
			}

			table {
				border-collapse: collpase;
				font-size: 20px;
			}

			th, td {
				text-allign: left;
				border-bottom: 1px solid #ddd;
				padding: 10px;
			}
			
			body {
				margin: 50px 50px 50px 50px;
				font-family: sans-serif;
			}

		</style>
		
		<h1>Report for {{employee}} as of {{date}}</h1>
	</head>

	<body>		
		{% if empStatus|stringformat:"s" == "Behind-Schedule" %}
			<h2 style="color:#f11b17">You are {{empStatus}}</h2>
		{% elif trainingStatus|stringformat:"s" == "Falling-Behind" %}
			<h2 style="color:#f2f218">You are {{empStatus}}</h2>
		{% elif trainingStatus|stringformat:"s" == "On-Track" %}
			<h2 style="color:#23ce28">You are {{empStatus}}</h2>
		{% elif trainingStatus|stringformat:"s" == "Complete" %}
			<h2 style="color:#4560f9">You are {{empStatus}}</h2>
		{% else %}
			<h2>You are {{empStatus}}</h2>
		{% endif %}
	
		<table>
			<tr bgcolor="#cecece">
				<th>Category</th>
				<th>Current</th>
				<th>Required</th>
			</tr>
			{% if trainingStatus|stringformat:"s" == "Behind-Schedule" %}
			<tr bgcolor="#f79e9e">
			{% elif trainingStatus|stringformat:"s" == "Falling-Behind" %}
			<tr bgcolor="#f5f79d">
			{% elif trainingStatus|stringformat:"s" == "On-Track" %}
			<tr bgcolor="#abf4a1">
			{% elif trainingStatus|stringformat:"s" == "Complete" %}
			<tr bgcolor="#a9f2e1">
			{% else %}
			<tr>
			{% endif %}
				<td>Training hours</td>
				<td><p id="train"></p>{{training}} - {{trainingStatus}}</td>
				<td>60</td>
			</tr>
		
			{% if shiftStatus|stringformat:"s" == "Behind-Schedule" %}
			<tr bgcolor="#f79e9e">
			{% elif shiftStatus|stringformat:"s" == "Falling-Behind" %}
			<tr bgcolor="#f5f79d">
			{% elif shiftStatus|stringformat:"s" == "On-Track" %}
			<tr bgcolor="#abf4a1">
			{% elif shiftStatus|stringformat:"s" == "Complete" %}
			<tr bgcolor="#a9f2e1">
			{% else %}
			<tr>
			{% endif %}
				<td>Shifts</td>
				<td>{{shifts}} - {{shiftStatus}}</td>
				<td>36</td>
			</tr>
		
			{% if callStatus|stringformat:"s" == "Behind-Schedule" %}
			<tr bgcolor="#f79e9e">
			{% elif callStatus|stringformat:"s" == "Falling-Behind" %}
			<tr bgcolor="#f5f79d">
			{% elif callStatus|stringformat:"s" == "On-Track" %}
			<tr bgcolor="#abf4a1">
			{% elif callStatus|stringformat:"s" == "Complete" %}
			<tr bgcolor="#a9f2e1">
			{% else %}
			<tr>
			{% endif %}
				<td>Actual Calls</td>
				<td>{{actCalls}} - {{callStatus}}</td>
				<td>54</td>
			</tr>
		
		
			{% if workDeetStatus|stringformat:"s" == "Behind-Schedule" %}
			<tr bgcolor="#f79e9e">
			{% elif workDeetStatus|stringformat:"s" == "Falling-Behind" %}
			<tr bgcolor="#f5f79d">
			{% elif workDeetStatus|stringformat:"s" == "On-Track" %}
			<tr bgcolor="#abf4a1">
			{% elif workDeetStatus|stringformat:"s" == "Complete" %}
			<tr bgcolor="#a9f2e1">
			{% else %}
			<tr>
			{% endif %}
				<td>Work Detail Hours</td>
				<td>{{workDeets}} - {{workDeetStatus}}</td>
				<td>36</td>
			</tr>
		
			{% if apparatusStatus|stringformat:"s" == "Behind-Schedule" %}
			<tr bgcolor="#f79e9e">
			{% elif apparatusStatus|stringformat:"s" == "Falling-Behind" %}
			<tr bgcolor="#f5f79d">
			{% elif apparatusStatus|stringformat:"s" == "On-Track" %}
			<tr bgcolor="#abf4a1">
			{% elif apparatusStatus|stringformat:"s" == "Complete" %}
			<tr bgcolor="#a9f2e1">
			{% else %}
			<tr>
			{% endif %}
				<td>Sundays & Weeklies</td>
				<td>{{apparatus}} - {{apparatusStatus}}</td>
				<td>12</td>
			</tr>
		
			{% if fundraiserStatus|stringformat:"s" == "Behind-Schedule" %}
			<tr bgcolor="#f79e9e">
			{% elif fundraiserStatus|stringformat:"s" == "Falling-Behind" %}
			<tr bgcolor="#f5f79d">
			{% elif fundraiserStatus|stringformat:"s" == "On-Track" %}
			<tr bgcolor="#abf4a1">
			{% elif fundraiserStatus|stringformat:"s" == "Complete" %}
			<tr bgcolor="#a9f2e1">
			{% else %}
			<tr>
			{% endif %}
				<td>Fundraisers</td>
				<td>{{fundraisers}} - {{fundraiserStatus}}</td>
				<td>1</td>
			</tr>
		
			{% if meetingStatus|stringformat:"s" == "Behind-Schedule" %}
			<tr bgcolor="#f79e9e">
			{% elif meetingStatus|stringformat:"s" == "Falling-Behind" %}
			<tr bgcolor="#f5f79d">
			{% elif meetingStatus|stringformat:"s" == "On-Track" %}
			<tr bgcolor="#abf4a1">
			{% elif meetingStatus|stringformat:"s" == "Complete" %}
			<tr bgcolor="#a9f2e1">
			{% else %}
			<tr>
			{% endif %}
				<td>Buisness Meetings</td>
				<td>{{meetings}} - {{meetingStatus}}</td>
				<td>6</td>
			</tr>
		</table>	
		
		<br>
		<button onclick="window.print()">Download Report</button>
	</body>			
</html>