Django==2.2.2
django-secure==1.0.1
django-sslserver==0.20
gunicorn==19.9.0
html5lib==1.0.1
lxml==4.3.3
numpy==1.16.4
pandas==0.24.2
psycopg2-binary==2.8.2
pyaml==19.4.1
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1.1
raven==6.10.0
six==1.12.0
soupsieve==1.9.2
sqlparse==0.3.0
webencodings==0.5.1
whitenoise==4.1.2
