<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
<div id="centered1" class="content">
	<div class="header">
		<h1>Golden Fire Department</h1>
		<h1>Information Tracker</h1>
			<img src="{% static "images/golden_fire.png" %}" alt="Fire Station Logo" width="150" height="150"/>
		<br>
	
		<h2>
			<form method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<button class="button" type="submit">Login</button>
			</form>
			
		</h2>
			
		<a href="{% url 'password_reset' %}" class="button">Reset Password</a>
		<div>
		<a href="{% url 'create' %}" class="button">Create Account</a>
	</div>	
</div>
</div>
{% endblock %}