<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<div id="centered" class="content">
	<div class="header">
	  <h1>Forgot your password?</h1>
	</div>
	<div class="header">
	  <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
	</div>
	<p>
	  <form method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" class="button" value="Send me instructions!">
	  </form>
	</p>
</div>
{% endblock %}