<!-- templates/signup.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block content %}
	<div id="header">
		<div style="display:inline-block;vertical-align:top;">
			<img src="{% static "images/golden_fire.png" %}" alt="Fire Station Logo" width="110" height="110"/>
		</div>
		<div style="display:inline-block; vertical-align: bottom;">
			<font face = "georgia" size = "40">&nbsp&nbspGolden Fire Department Information Tracker</font>
		</div>
	</div>

	<div id="signup">
		<h2>Sign up</h2>
		<form method="post">
			{% csrf_token %}
			{% for field in form %}
				<p>
					{{ field.label_tag }}<br>
					{{ field }}
					{% if field.help_text %}
						<small style="color: grey">{{ field.help_text }}</small>
					{% endif %}
					{% for error in field.errors %}
						<p style="color: red">{{ error }}</p>
					{% endfor %}
				</p>
			{% endfor %}
			<button type="submit">Sign up</button>
		</form>
	</div>
{% endblock %}