<!--admin_about.html-->
{% extends 'admin_base.html' %}
{% block title %}About{% endblock %}
{% block content %}
  <div id="centered" class="content">
    <div class="header">
	  <h1>About</h1>
	</div>
	<div class="header">
	  <h2>Intro</h2>
	  <p class="para" style="font-size: 1.5vw;">The GFD Information Tracker is designed to integrate and meaningfully represent the data gathered by the Golden Fire Department. As an administrator, you can use this tool to view department statistics and generate department, individual, or group reports to monitor each firefighter’s progress toward their requirements. To keep the database updated, you can update personnel status, upload data, or initiate a database refresh.</p>
	</div>	
	<div class="header">
	  <h2>Home</h2>
	  <p class="para" style="font-size: 1.5vw;">The homepage view displays department-wide statistics, including the progress that firefighters have made on their requirements. You can customize the date range for which the numerical data is calculated, but the pie chart always displays year-to-date information.</p>
	</div>
	<div class="header">
	  <h2>Reports</h2>
	  <p class="para" style="font-size: 1.5vw;">The Reports feature generates a CSV file containing a report based on a specified date range, a report type, and a group of individuals. Standard reports show whether the staff members are on track to meet their requirements, and contain summary data for each requirement. LOSAP reports show the amount of leave that the selected staff members have taken.</p>
	</div>
	<div class="header">
	  <h2>Custom Reports</h2>
	  <p class="para" style="font-size: 1.5vw;">Custom reports allow you to view the records stored in the database for an individual staff member and report type. This form generates a CSV that shows each record that is used to calculate a firefighter’s progress towards their requirement.</p>
	</div>
	<div class="header">
	  <h2>Personnel</h2>
	  <p class="para" style="font-size: 1.5vw;">This page can be used to create or delete a status for any staff member. If an employee joins the fire department, their start date should be recorded as an active status. Statuses can also be changed to indicate that an employee has gone on leave, returned from leave, resigned, or retired. The date on this form should indicate the date on which the status change occurred. If any inaccurate status changes are made, they can be deleted simply by selecting the employee in the Delete Status form and selecting the inaccurate status change.</p>
	</div>
	<div class="header">
	  <h2>Import</h2>
	  <p class="para" style="font-size: 1.5vw;">This part of the website is used to update the database using CSV reports from IamResponding and Emergency Reporting’s API.<br><br>
To upload data from IamResponding, navigate to the IamResponding homepage and log in. Select the ‘Administrator Functions’ button and log in again. Scroll down to reports and select ‘Scheduling.’ Fill in the necessary fields and press ‘Run Report.’ In the newly opened report, click ‘Export to Excel.’ In the GFD Information tracker, upload this file, entering the same date range that you used to generate the CSV on IamResponding. If a previous report had an error, and the current report contains data to correct the error, check the box before clicking ‘Submit.’
<br><br>The refresh functionality should be used to update the database when old data has been edited on Emergency Reporting. To maintain the accuracy and stability of the database, select a short date range surrounding the days for which data was changed. 
</p>
	</div>
  </div>
{% endblock %}