<!--officer_about.html-->
{% extends 'officer_base.html' %}
{% block title %}About{% endblock %}

{% block content %}
  <div id="centered" class="content">
    <div class="header">
	  <h1>About</h1>
	</div>
	<div class="header">
	  <h2>Intro</h2>
	  <p class="para" style="font-size: 1.5vw;">The GFD Information Tracker is designed to integrate and meaningfully represent the data gathered by the Golden Fire Department. As an officer, you can use this tool to view department statistics and generate department, individual, or group reports to monitor each firefighter’s progress toward their requirements.</p>
	</div>	
	<div class="header">
	  <h2>Home</h2>
	  <p class="para" style="font-size: 1.5vw;">The homepage view displays department-wide statistics, including the progress that firefighters have made on their requirements. You can customize the date range for which the numerical data is calculated, but the pie chart always displays year-to-date information.</p>
	</div>
	<div class="header">
	  <h2>Reports</h2>
	  <p class="para" style="font-size: 1.5vw;">The Reports feature generates a CSV file containing a report based on a specified date range, a report type, and a group of individuals. Standard reports show whether the staff members are on track to meet their requirements, and contain summary data for each requirement. LOSAP reports show the amount of leave that the selected staff members have taken.</p>
	</div>
	<div class="header">
	  <h2>Custom Reports</h2>
	  <p class="para" style="font-size: 1.5vw;">Custom reports allow you to view the records stored in the database for an individual staff member and report type. This form generates a CSV that shows each record that is used to calculate a firefighter’s progress towards their requirement.</p>
	</div>
  </div>
{% endblock %}