<!--officer_about.html-->
{% extends 'officer_base.html' %}
{% block title %}About{% endblock %}

{% block content %}
  <div id="centered" class="content">
    <div class="header">
	  <h1>About</h1>
	</div>
	<div class="header">
	  <h2>Intro</h2>
	  <p class="para" style="font-size: 1.5vw;">The Bridge ™ software is designed to integrate the data gathered by the Golden Fire Department and represent it in a meaningful way. As an officer, you have full access to The Bridge ™ software, except for the ability to modify personnel and add data to the database.</p>
	</div>	
	<div class="header">
	  <h2>Home</h2>
	  <p class="para" style="font-size: 1.5vw;">This view will show you department-wide statistics including the proportion of staff that is on-track, behind, falling-behind, or complete with their requirements. You can customize the date-range for which the data is generated. Keep in mind, however, that the personnel requirement status data in the pie chart will always be generated as a year-to-date. </p>
	</div>
	<div class="header">
	  <h2>Reports</h2>
	  <p class="para" style="font-size: 1.5vw;">This feature is only available to officers and administrators. This view allows you to select a date-range, group of individuals, and report type and run a report. This report is then downloaded to your computer as a csv file. Standard reports contain information regarding calls (actual and total), shifts (including bonus shifts), work detail hours, sundays/dailies/weeklies, fundraisers, business meetings, and days/years of service. Additionally, there is a column indicating if the individual is on-track, behind, falling-behind, or complete with their requirements. </p>
	</div>
	<div class="header">
	  <h2>Custom Reports</h2>
	  <p class="para" style="font-size: 1.5vw;">To create a custom report, first select the date range of interest. Next, select the individual employee you would like to run the report on. Then, select the type of report you would like to generate. Then click the submit button. This will download a csv for the selected report type. The report will list all the data regarding the type selected from the database that we use to create the statistics. This function is mainly used to see a greater amount of details on the selected report type.</p>
	</div>
  </div>
{% endblock %}