<!--user_about.html-->
{% extends 'user_base.html' %}
{% block title %}About{% endblock %}

{% block content %}
 <div id="centered" class="content">
    <div class="header">
	  <h1>About</h1>
	</div>
	<div class="header">
	  <h2>Intro</h2>
	  <p class="para" style="font-size: 1.5vw;">The GFD Information Tracker is designed to integrate and meaningfully represent the data gathered by the Golden Fire Department. As a firefighter, you can view your progress toward your requirements and records of your hours. </p>
	</div>	
	<div class="header">
	  <h2>Home</h2>
	  <p class="para" style="font-size: 1.5vw;">You can expect this view to show your year-to-date progress towards your requirements, including calls, shifts, work details, business meetings, leave time, and years of service. If a requirement is highlighted red, you are at least 15% behind your expected requirement at this point in the year. If a requirement is highlighted yellow, you are behind where you should be by less than 15%. If a requirement is highlighted green, you are at or ahead of your expected progress. If a requirement is highlighted blue, you have met this requirement for the year. Your bonus shifts, leave days, and years of service are highlighted gray and do not have an effect on your overall status. Note that the displayed leave value refers to the number of leave days you have accrued in the current calendar year.</p>
	</div>
	<div class="header">
	  <h2>Reports</h2>
	  <p class="para" style="font-size: 1.5vw;">Reports allow you to view the records stored in the database for an individual requirement. This form generates a CSV that shows records of training, shifts, calls, work detail, apparatus checks, fundraisers, and business meetings you have completed or attended. </p>
	</div>
  </div>
{% endblock %}