<!--admin_personnel.html-->
{% extends 'admin_base.html' %}
{% block title %}Personnel{% endblock %}

{% block content %}
	{% if user.is_authenticated %}
		<div id="main">
			<div class="column">
			<h1>Add New Employee</h1>
			
			<form action="http://127.0.0.1:8000/personnel/submit/" method="post">{% csrf_token %}
				First name:<br>
				<input type="text" name="firstname">
				<br><br>
				Last name:<br>
				<input type="text" name="lastname">
				<br><br>
				Employee number:<br>
				<input type="test" name="empNumber">
				<br><br>
				Title:<br>
				<select name="title">
					<option value="No Selection">No Selection</option>
					<option value="Fire Fighter">Fire Fighter</option>
					<option value="Shift Officer">Shift Officer</option>
					<option value="Chief">Chief</option>
				</select>
				<br><br>
				Residency:<br>
				<select name="residency">
					<option value="No Selection">No Selection</option>
					<option value="Resident">Resident</option>
					<option value="Shift Personnel">Shift Officer</option>
				</select>
				<br><br>
  
				<label for="start">Start date:</label> <br>
				<input type="date" id="start" name="time-start"[0-9]{4}-[0-9]{2}-[0-9]{2}"
				<br><br><br>

				<input type="submit" value="Submit">
  
			</form> 
			</div>
			<div class="column">
			<h1>Update Existing Employee</h1>
			<form action="http://127.0.0.1:8000/personnel/update/" method="post">{% csrf_token %}
				Employee:<br>
				<select name="employee">
					<option value="No Selection">No Selection</option>
					{% for emp in employees %} 
					<option value="{{emp}}">{{emp}}</option>
					{% endfor %}
				</select>
				<br><br>
				New Status:<br>
				<select name="status">
					<option value="No Selection">No Selection</option>
					<option value="Active">Active</option>
					<option value="Approved Leave">Approved Leave</option>
					<option value="Disability Leave">Disability Leave</option>
					<option value="Resigned">Resigned</option>
					<option value="Retired">Retired</option>
					<option value="Terminated">Terminated</option>
				</select>
				<br><br>
				<label for="start">Effective date:</label> <br>
				<input type="date" id="start" name="date"[0-9]{4}-[0-9]{2}-[0-9]{2}"
				<br><br><br>
				<input type="submit" value="Submit">
				<br><br>
			</form>
			<h1>Add Note</h1>
			<form action="http://127.0.0.1:8000/personnel/note/" method="post" id=noteForm>{% csrf_token %}
				Employee:<br>
				<select name="employee">
					<option value="No Selection">No Selection</option>
					{% for emp in employees %} 
					<option value="{{emp}}">{{emp}}</option>
					{% endfor %}
				</select>
				<br><br>
				<textarea rows="4" cols="50" name="text" form="noteForm">
Enter note here...</textarea>
				<br><br>
				<input type="submit" value="Submit">
				<br><br>
			</form>
			</div>
			</div>
		</div>
	{% endif %}
{% endblock %}