#main {
	margin: 50px 50px 50px 50px;
	text-align: center;
	font-family: sans-serif;
}

#centered {
	text-align: center;
	font-family: sans-serif;
	margin-left: auto;
	margin-right: auto;
	background-color: #e5e5e5;
}

#centered1 {
	text-align: center;
	font-family: sans-serif;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

#signup {
	margin: 50px 50px 50px 50px;
	font-family: sans-serif;
}

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: sans-serif;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 8px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background-image:url({% static "images/background.jpg" %});
	background-repeat: no-repeat;
	background-position: bottom;
	background-attachment: fixed;
}

.header h1 {
	padding: 5px;
	font-size: 2.5em;
	font-size: 3.5vw;
	color: white;
	background: #333;
}

.header {
	padding: 1px;
	text-align: center;
	background: #e5e5e5;
	color: black;
}

.content {
	max-width: 70%;
	margin: auto;
	background: #e5e5e5;
	padding: 0px;
}

.button {
	background-color: #333;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

p {
	font-size: 15px;
	font-size: 1.8vw;
	margin-right: auto;
}

form {
	font-size: 15px;
	font-size: 1.8vw;
}

.para {
    border-radius: 90px / 100px; /* horizontal radius, vertical radius */
    width: 100%;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background: #333;
    margin-top: 50px;
    color: white;
	border-style: outset;
}