ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

li a:hover {
	background-color: #3c8c3f;
}

.active {
	background-color: #4CAF50;
}			

#navigation {
	margin: 10px 0px 0px 0px;
	font-size: 15px;
	font-size: 1.4vw;
}

#main {
	margin: 50px 50px 50px 50px;
	font-family: sans-serif;
}

#centered {
	margin: 50px 50px 50px 50px;
	text-align: center;
	font-family: sans-serif;
}

#centered1 {
	text-align: center;
	font-family: sans-serif;
	margin-left: auto;
	margin-right: auto;
}

#centered2 {
	text-align: center;
	font-family: sans-serif;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: sans-serif;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 8px;
}

li{
	list-style: none;
}

table {
	border-collapse: collapse;
	font-size: 20px;
	font-size: 1.7vw;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

td {
	text-align: left;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

th {
	background-color: #333;
	color:white;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background-image:url({% static "images/background.jpg" %});
	background-repeat: no-repeat;
	background-position: bottom;
	background-attachment: fixed;
}

.header {
	padding: 1px;
	text-align: center;
	font-size: 21px;
	font-size: 2.3vw;
	background: #e5e5e5;
	color: black;
}

.content {
max-width: 70%;
margin: auto;
background: #e5e5e5;
padding: 0px;
}

.content-wide {
max-width: 70%;
margin: auto;
background: #e5e5e5;
padding: 0px;
}

.header h1 {
padding: 5px;
font-size: 2.5em;
font-size: 3.5vw;
color: white;
background: #333;
}


.button {
	background-color: #333;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

#title {
background-color: white;
}

#chart {
	margin: 50px 50px 50px 50px;
	font-family: sans-serif;
}

#roof {
	background: white;
}

#top {
	margin: 0px 10px 10px 10px;
}

td {
padding: 18px;
}

.legend td, th {
padding: 8px;
margin-left: auto;
margin-right: auto;
}

#width {
width: 84%;
}

#value {
font-size: 60px;
font-size: 6vw;
}

#label {
font-size: 35px;
font-size: 2.6vw;
}

font {
font-size: 40px;
font-size: 3.5vw;
}

img {
height: 300px;
height: 8vw;
width: 300px;
width: 8vw;
}

img {
height: 300px;
height: 8vw;
width: 300px;
width: 8vw;
}

textarea {
height: 200px;
height: 8vw;
width: 400px;
width: 20vw;
}