<!-- templates/base.html -->
<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'style/base_style.css' %}">		
	<meta charset="utf-8">
	<title>{% block title %}Golden Fire Department Information Tracker{% endblock %}</title>
  </head>
  <body style="background-image:url({% static 'images/base_background.jpg' %});">
    <main>
	  {% block content %}
	  {% endblock %}
    </main>
  </body>
</html>