<!DOCTYPE html>
{% load static from staticfiles %}
<html>
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'style/ff_style.css' %}" type="text/css" media="screen">
	<link rel="stylesheet" href="{% static 'style/ff_style_print.css' %}" type="text/css" media="print">
	<meta charset="utf-8">
  </head>
  <body style="background-image:url({% static 'images/background.jpg' %});">
  <div id ="roof">
	<div id="top">
	  <div style="display:inline-block;vertical-align:top;">
	    <img src="{% static "images/golden_fire.png" %}" alt="Fire Station Logo" width="110" height="110"/>
	  </div>
	  <div style="display:inline-block; vertical-align: bottom;">
	    <font face = "georgia" size = "40">&nbsp&nbspGolden Fire Department Information Tracker</font>
	  </div>
    </div>
	<div id = "navigation">
	  <ul>
	    <li><a href="{% url 'user_ex' refreshToken=refreshToken %}">Home</a></li>
		<li><a href="{% url 'user_custom' refreshToken=refreshToken %}">Reports</a></li>
		<li style ="float:right"><a class="active" href="{% url 'logout' %}">Log Out</a></li>
		<li style="float:right"><a class="active" href="{% url 'user_about' refreshToken=refreshToken %}">About</a></li>
	  </ul>
	</div>
  </div>
  <div id="centered2">
	<div class="header">
	  <h1>Report for {{employee}} as of {{date}}</h1>
		{% if empStatus|stringformat:"s" == "Behind-Schedule" %}
		  <h2 style="color:#d63737">You are {{empStatus}}</h2>
		{% elif empStatus|stringformat:"s" == "Falling-Behind" %}
		  <h2 style="color:#dddd00">You are {{empStatus}}</h2>
		{% elif empStatus|stringformat:"s" == "On-Track" %}
		  <h2 style="color:#4fbc56">You are {{empStatus}}</h2>
		{% elif empStatus|stringformat:"s" == "Complete" %}
		  <h2 style="color:#6fa5ed">You are {{empStatus}}</h2>
		{% else %}
		  <h2>You are {{empStatus}}</h2>
		{% endif %}
		
		<div id="mainChartContainer" class="noprint" style="height: 12vw; width: 100%;"></div>
		<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
		
		<p style="font-size:2.5vw">Database last updated {{lastUpdate}} </p>
	  <div id="centered1">
	    <table>
		  <tr>
		    <th class="noprint">Progress</th>
		    <th>Category</th>
			<th>Current</th>
			<th>Required</th>
		  </tr>
			{% if trainingStatus|stringformat:"s" == "Behind-Schedule" %}
			  <tr bgcolor="#d63737">
			{% elif trainingStatus|stringformat:"s" == "Falling-Behind" %}
			  <tr bgcolor="#dddd00">
			{% elif trainingStatus|stringformat:"s" == "On-Track" %}
			  <tr bgcolor="#4fbc56">
			{% elif trainingStatus|stringformat:"s" == "Complete" %}
			  <tr bgcolor="#6fa5ed">
			{% else %}
			  <tr>
			{% endif %}
			  <td bgcolor="#e5e5e5" class="noprint"> <div id="trainingChartContainer" style="height: 8vw; width: 100%;"></div></td>
			  <td>Training hours</td>
			  <td><p id="train"></p>{{training}} - {{trainingStatus}}</td>
			  <td>60</td>
		      </tr>
					
			{% if shiftStatus|stringformat:"s" == "Behind-Schedule" %}
			  <tr bgcolor="#d63737">
			{% elif shiftStatus|stringformat:"s" == "Falling-Behind" %}
			  <tr bgcolor="#dddd00">
			{% elif shiftStatus|stringformat:"s" == "On-Track" %}
			  <tr bgcolor="#4fbc56">
			{% elif shiftStatus|stringformat:"s" == "Complete" %}
			  <tr bgcolor="#6fa5ed">
			{% else %}
			  <tr>
				{% endif %}
				  <td bgcolor="#e5e5e5" class="noprint"> <div id="shiftChartContainer" style="height: 8vw; width: 100%;"></div></td>
				  <td>Shifts</td>
				  <td>{{shifts}} - {{shiftStatus}}</td>
				  <td>36</td>
			  </tr>
			{% if callStatus|stringformat:"s" == "Behind-Schedule" %}
			  <tr bgcolor="#d63737">
			{% elif callStatus|stringformat:"s" == "Falling-Behind" %}
			  <tr bgcolor="#dddd00">
			{% elif callStatus|stringformat:"s" == "On-Track" %}
			  <tr bgcolor="#4fbc56">
			{% elif callStatus|stringformat:"s" == "Complete" %}
			  <tr bgcolor="#6fa5ed">
			{% else %}
			  <tr>
			{% endif %}
			  <td bgcolor="#e5e5e5" class="noprint"> <div id="callChartContainer" style="height: 8vw; width: 100%;"></div></td>
			  <td>Actual Calls</td>
			  <td>{{actCalls}} - {{callStatus}}</td>
			  <td>54</td>
			  </tr>
			  
			{% if callStatus|stringformat:"s" == "Behind-Schedule" %}
			  <tr bgcolor="#d63737">
			{% elif callStatus|stringformat:"s" == "Falling-Behind" %}
			  <tr bgcolor="#dddd00">
			{% elif callStatus|stringformat:"s" == "On-Track" %}
			  <tr bgcolor="#4fbc56">
			{% elif callStatus|stringformat:"s" == "Complete" %}
			  <tr bgcolor="#6fa5ed">
			{% else %}
			  <tr>
			{% endif %}
			  <td bgcolor="#e5e5e5" class="noprint"> <div id="totalCallChartContainer" style="height: 8vw; width: 100%;"></div></td>
			  <td>Total Calls</td>
			  <td>{{totalCalls}} - {{totalCallStatus}}</td>
			  <td>72</td>
			  </tr>
			  
			{% if workDeetStatus|stringformat:"s" == "Behind-Schedule" %}
			  <tr bgcolor="#d63737">
			{% elif workDeetStatus|stringformat:"s" == "Falling-Behind" %}
			  <tr bgcolor="#dddd00">
			{% elif workDeetStatus|stringformat:"s" == "On-Track" %}
			  <tr bgcolor="#4fbc56">
			{% elif workDeetStatus|stringformat:"s" == "Complete" %}
			  <tr bgcolor="#6fa5ed">
			{% else %}
			  <tr>
			{% endif %}
			  <td bgcolor="#e5e5e5" class="noprint"> <div id="wdChartContainer" style="height: 8vw; width: 100%;"></div></td>
			  <td>Work Detail Hours</td>
			  <td>{{workDeets}} - {{workDeetStatus}}</td>
			  <td>36</td>
			  </tr>
			{% if apparatusStatus|stringformat:"s" == "Behind-Schedule" %}
			  <tr bgcolor="#d63737">
			{% elif apparatusStatus|stringformat:"s" == "Falling-Behind" %}
			  <tr bgcolor="#dddd00">
			{% elif apparatusStatus|stringformat:"s" == "On-Track" %}
			  <tr bgcolor="#4fbc56">
			{% elif apparatusStatus|stringformat:"s" == "Complete" %}
			  <tr bgcolor="#6fa5ed">
			{% else %}
			  <tr>
			{% endif %}
			  <td bgcolor="#e5e5e5" class="noprint"> <div id="appChartContainer" style="height: 8vw; width: 100%;"></div></td>
			  <td>Sundays & Weeklies</td>
			  <td>{{apparatus}} - {{apparatusStatus}}</td>
			  <td>12</td>
			  </tr>
			{% if fundraiserStatus|stringformat:"s" == "Behind-Schedule" %}
			  <tr bgcolor="#d63737">
			{% elif fundraiserStatus|stringformat:"s" == "Falling-Behind" %}
			  <tr bgcolor="#dddd00">
			{% elif fundraiserStatus|stringformat:"s" == "On-Track" %}
			  <tr bgcolor="#4fbc56">
			{% elif fundraiserStatus|stringformat:"s" == "Complete" %}
			  <tr bgcolor="#6fa5ed">
			{% else %}
			  <tr>
			{% endif %}
			<td bgcolor="#e5e5e5" class="noprint"> <div id="fundraiserChartContainer" style="height: 8vw; width: 100%;"></div></td>
			  <td>Fundraisers</td>
			  <td>{{fundraisers}} - {{fundraiserStatus}}</td>
			  <td>1</td>
		      </tr>
		
			{% if meetingStatus|stringformat:"s" == "Behind-Schedule" %}
			  <tr bgcolor="#d63737">
			{% elif meetingStatus|stringformat:"s" == "Falling-Behind" %}
			  <tr bgcolor="#dddd00">
			{% elif meetingStatus|stringformat:"s" == "On-Track" %}
			  <tr bgcolor="#4fbc56">
			{% elif meetingStatus|stringformat:"s" == "Complete" %}
			  <tr bgcolor="#6fa5ed">
			{% else %}
			  <tr>
			{% endif %}
			  <td bgcolor="#e5e5e5" class="noprint"> <div id="meetChartContainer" style="height: 8vw; width: 100%;"></div></td>
			  <td>Business Meetings</td>
			  <td>{{meetings}} - {{meetingStatus}}</td>
		      <td>6</td>
			  </tr>			
			  <tr bgcolor="#a8a8a8">
			    <td bgcolor="#e5e5e5"></td>
				<td>Bonus Shifts</td>
				<td>{{bonusShifts}}</td>
				<td>-</td>
			  </tr>
			  <tr bgcolor="#a8a8a8">
			    <td bgcolor="#e5e5e5"></td>
				<td>Leave</td>
				<td>{{leave}}</td>
				<td>-</td>
			  </tr>
			  <tr bgcolor="#a8a8a8">
			    <td bgcolor="#e5e5e5"></td>
				<td>Years of Service</td>
				<td>{{yrsService}}</td>
				<td>-</td>
			  </tr>
		</table>
		<br>
	  </div>
	<button class="button" onclick="window.print()">Print</button>
	<button class="button" onclick="window.location.href = '{% url 'download' empNum=empNum %}';">Download</button>
	</div>
  </div>
  </body>
<script>
window.onload = function () {

var main_chart = new CanvasJS.Chart("mainChartContainer", {
	animationEnabled: true,
	backgroundColor: "#e5e5e5",
	textSize: 0,
	data: [{
		type: "doughnut",
		startAngle: 90,
		dataPoints: [
			{ y: {{totalComp}},
			  color: '#6fa5ed'},
			{ y: {{totalBehind}},
			 color: '#d63737'},
			{ y: {{totalRemain}},
			color: '#7f7f7f'}
		]
	}]
});

var training_chart = new CanvasJS.Chart("trainingChartContainer", {
	animationEnabled: true,
	backgroundColor: "#e5e5e5",
	data: [{
		type: "doughnut",
		startAngle: 90,
		
		dataPoints: [
			{ y: {{training}},
			  color: '#6fa5ed'},
			{ y: {{trainingBehind}},
			 color: '#d63737'},
			{ y: {{trainingRemain}},
			color: '#7f7f7f'}
		]
	}]
});

var shift_chart = new CanvasJS.Chart("shiftChartContainer", {
	animationEnabled: true,
	backgroundColor: "#e5e5e5",
	data: [{
		type: "doughnut",
		startAngle: 90,
		
		dataPoints: [
			{ y: {{shifts}},
			  color: '#6fa5ed'},
			{ y: {{shiftBehind}},
			 color: '#d63737'},
			{ y: {{shiftRemain}},
			color: '#7f7f7f'}
		]
	}]
});


var call_chart = new CanvasJS.Chart("callChartContainer", {
	animationEnabled: true,
	backgroundColor: "#e5e5e5",
	data: [{
		type: "doughnut",
		startAngle: 90,
		
		dataPoints: [
			{ y: {{actCalls}},
			  color: '#6fa5ed'},
			{ y: {{callsBehind}},
			 color: '#d63737'},
			{ y: {{callsRemain}},
			color: '#7f7f7f'}
		]
	}]
});

var total_call_chart = new CanvasJS.Chart("totalCallChartContainer", {
	animationEnabled: true,
	backgroundColor: "#e5e5e5",
	data: [{
		type: "doughnut",
		startAngle: 90,
		
		dataPoints: [
			{ y: {{totalCalls}},
			  color: '#6fa5ed'},
			{ y: {{totalCallsBehind}},
			 color: '#d63737'},
			{ y: {{totalCallsRemain}},
			color: '#7f7f7f'}
		]
	}]
});

var wd_chart = new CanvasJS.Chart("wdChartContainer", {
	animationEnabled: true,
	backgroundColor: "#e5e5e5",
	data: [{
		type: "doughnut",
		startAngle: 90,
		
		dataPoints: [
			{ y: {{workDeets}},
			  color: '#6fa5ed'},
			{ y: {{wdBehind}},
			 color: '#d63737'},
			{ y: {{wdRemain}},
			color: '#7f7f7f'}
		]
	}]
});

var app_chart = new CanvasJS.Chart("appChartContainer", {
	animationEnabled: true,
	backgroundColor: "#e5e5e5",
	data: [{
		type: "doughnut",
		startAngle: 90,
		
		dataPoints: [
			{ y: {{apparatus}},
			  color: '#6fa5ed'},
			{ y: {{apparatusBehind}},
			 color: '#d63737'},
			{ y: {{apparatusRemain}},
			color: '#7f7f7f'}
		]
	}]
});

var fundraiser_chart = new CanvasJS.Chart("fundraiserChartContainer", {
	animationEnabled: true,
	backgroundColor: "#e5e5e5",
	data: [{
		type: "doughnut",
		startAngle: 90,
		
		dataPoints: [
			{ y: {{fundraisers}},
			  color: '#6fa5ed'},
			{ y: {{fundraiserBehind}},
			 color: '#d63737'},
			{ y: {{fundraiserRemain}},
			color: '#7f7f7f'}
		]
	}]
});


var meet_chart = new CanvasJS.Chart("meetChartContainer", {
	animationEnabled: true,
	backgroundColor: "#e5e5e5",
	data: [{
		type: "doughnut",
		startAngle: 90,
		
		dataPoints: [
			{ y: {{meetings}},
			  color: '#6fa5ed'},
			{ y: {{meetingsBehind}},
			 color: '#d63737'},
			{ y: {{meetingsRemain}},
			color: '#7f7f7f'}
		]
	}]
});

main_chart.render();
training_chart.render();
shift_chart.render();
call_chart.render();
total_call_chart.render();
wd_chart.render();
app_chart.render();
fundraiser_chart.render();
meet_chart.render();

}
</script>

  
</html>