<!--officer_base.html-->
<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'style/site.css' %}">
	<meta charset="utf-8">
	<title>{% block title %}Golden Fire Department Information Tracker{% endblock %}</title>

	{% if user.is_authenticated %}
		<div id ="header">
		<div id = "title">
				<div id = "top">
			<div style="display:inline-block;vertical-align:top;">
				<img src="{% static "images/golden_fire.png" %}" alt="Fire Station Logo" width="110" height="110"/>
			</div>
			<div style="display:inline-block; vertical-align: bottom;">
				<font face = "georgia" size = "40">&nbsp&nbspGolden Fire Department Information Tracker</font>
			</div>
			</div>

			<div id = "navigation">
				<ul>
					<li><a href="{% url 'officer_home' %}">Home</a></li>
					<li><a href="{% url 'officer_reports' %}">Reports</a></li>
					<li><a href="{% url 'officer_custom' %}">Custom Reports</a></li>
					<li style ="float:right"><a class="active" href="{% url 'logout' %}">Log Out</a></li>
					<li style="float:right"><a class="active" href="{% url 'officer_about' %}">About</a></li>
				</ul>
			</div>
			</div>
		</div>
	{% else %}
		<div id="centered" class="content" style="background-color:white">
				<div class="header" style="background-color:white">
					<h1>Access Denied</h1>
				</div>
				<br><br>
				<font face = "georgia" size = "20">You cannot access this page</font>
				<br>
				<font face = "georgia" size = "20">because you are not logged in</font>
				<br><br><br>
				<div class="picture">
					<img src="{% static "images/golden_fire.png" %}" alt="Fire Station Logo" width="300" height="300"/>
				</div>
				<br><br>
				<a href="{% url 'login' %}" class = "button">Login</a>
			</div>
	{% endif %}
</head>
  <body style="background-image:url({% static 'images/background.jpg' %});">
  <main>
    {% block content %}
	{% endblock %}
  </main>
</body>
</html>