<!--officer_base.html-->
<!DOCTYPE html>
{% load static from staticfiles %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'style/site.css' %}">
  <link rel="stylesheet" href="{% static 'style/ff_style_print.css' %}" type="text/css" media="print">
  <meta charset="utf-8">
<script type="text/javascript">
    var datefield=document.createElement("input")
    datefield.setAttribute("type", "date")
    if (datefield.type!="date"){ //if browser doesn't support input type="date", load files for jQuery UI Date Picker
        document.write('<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />\n')
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"><\/script>\n')
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"><\/script>\n') 
    }
</script>
 
<script>
if (datefield.type!="date"){ //if browser doesn't support input type="date", initialize date picker widget:
	jQuery(function($){ //on document.ready
		$('#start').datepicker();
		$('#end').datepicker();
	})
}
</script>
  <title>{% block title %}Golden Fire Department Information Tracker{% endblock %}</title>
  <div id ="header">
    <div id = "title">
	  <div id = "top">
		<div style="display:inline-block;vertical-align:top;">
		  <img src="{% static "images/golden_fire.png" %}" alt="Fire Station Logo" width="110" height="110"/>
		</div>
		<div style="display:inline-block; vertical-align: bottom;">
		  <font face = "georgia" size = "40">&nbsp&nbspGolden Fire Department Information Tracker</font>
		</div>
	  </div>
	  <div id = "navigation">
		<ul>
		  <li><a href="{% url 'officer_home' refreshToken=refreshToken %}">Home</a></li>
		  <li><a href="{% url 'officer_reports' refreshToken=refreshToken %}">Reports</a></li>
		  <li><a href="{% url 'officer_custom' refreshToken=refreshToken %}">Custom Reports</a></li>
		  <li style ="float:right"><a class="active" href="{% url 'logout' %}">Log Out</a></li>
		  <li style="float:right"><a class="active" href="{% url 'officer_about' refreshToken=refreshToken %}">About</a></li>
		</ul>
	  </div>
	</div>
  </div>
</head>
<body style="background-image:url({% static 'images/background.jpg' %});">
  <main>
    {% block content %}
	{% endblock %}
  </main>
</body>
</html>