<!--user_custom.html-->
{% extends 'user_base.html' %}
{load static from staticfiles %}
{% block title %}Custom Reports{% endblock %}
{% block content %}
  <div id="centered" class="content">
    <div class="header">
	  <h1>View Time Logs</h1>
	</div>
	<form action="{% url 'custom_user_submit' refreshToken=refreshToken %}" method="post">{% csrf_token %}
	  <div class="header">
		<label for="start">Start date:</label>
		<input type="date" id="start" name="time-start" required>
		<br><br><br>
		<label for="end">End date  : </label>
		<input type="date" id="end" name="time-end" required>
		<br><br> 
	  </div>	
	  Report
	  <div class="header">
	    <div class="custom-select">
		  <select name="type">
			<option value="No Selection">No Selection</option>
			<option value="Training">Training</option>
			<option value="Shifts">Shifts</option>
			<option value="Actual Calls">Actual Calls</option>
			<option value="Work Detail">Work Detail</option>
			<option value="Apparatus">Sundays & Weeklies</option>
			<option value="Fundraisers">Fundraisers</option>
			<option value="Meetings">Business Meetings</option>
			<option value="LOSAP">LOSAP</option>
		  </select>
		</div>
	  </div>
	  <br><br>
	  <input type="submit" value="Submit" class="button">
	  <br>	
	</form>
  </div>		
		<script>
			var x, i, j, selElmnt, a, b, c;
			/*look for any elements with the class "custom-select":*/
			x = document.getElementsByClassName("custom-select");
			for (i = 0; i < x.length; i++) {
			  selElmnt = x[i].getElementsByTagName("select")[0];
			  /*for each element, create a new DIV that will act as the selected item:*/
			  a = document.createElement("DIV");
			  a.setAttribute("class", "select-selected");
			  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
			  x[i].appendChild(a);
			  /*for each element, create a new DIV that will contain the option list:*/
			  b = document.createElement("DIV");
			  b.setAttribute("class", "select-items select-hide");
			  for (j = 1; j < selElmnt.length; j++) {
				/*for each option in the original select element,
				create a new DIV that will act as an option item:*/
				c = document.createElement("DIV");
				c.innerHTML = selElmnt.options[j].innerHTML;
				c.addEventListener("click", function(e) {
					/*when an item is clicked, update the original select box,
					and the selected item:*/
					var y, i, k, s, h;
					s = this.parentNode.parentNode.getElementsByTagName("select")[0];
					h = this.parentNode.previousSibling;
					for (i = 0; i < s.length; i++) {
					  if (s.options[i].innerHTML == this.innerHTML) {
						s.selectedIndex = i;
						h.innerHTML = this.innerHTML;
						y = this.parentNode.getElementsByClassName("same-as-selected");
						for (k = 0; k < y.length; k++) {
						  y[k].removeAttribute("class");
						}
						this.setAttribute("class", "same-as-selected");
						break;
					  }
					}
					h.click();
				});
				b.appendChild(c);
			  }
			  x[i].appendChild(b);
			  a.addEventListener("click", function(e) {
				  /*when the select box is clicked, close any other select boxes,
				  and open/close the current select box:*/
				  e.stopPropagation();
				  closeAllSelect(this);
				  this.nextSibling.classList.toggle("select-hide");
				  this.classList.toggle("select-arrow-active");
				});
			}
			function closeAllSelect(elmnt) {
			  /*a function that will close all select boxes in the document,
			  except the current select box:*/
			  var x, y, i, arrNo = [];
			  x = document.getElementsByClassName("select-items");
			  y = document.getElementsByClassName("select-selected");
			  for (i = 0; i < y.length; i++) {
				if (elmnt == y[i]) {
				  arrNo.push(i)
				} else {
				  y[i].classList.remove("select-arrow-active");
				}
			  }
			  for (i = 0; i < x.length; i++) {
				if (arrNo.indexOf(i)) {
				  x[i].classList.add("select-hide");
				}
			  }
			}
			/*if the user clicks anywhere outside the select box,
			then close all select boxes:*/
			document.addEventListener("click", closeAllSelect);
		</script>
		
		<script>
			$('select option').each(function(){
				$(this).attr('title', $(this).text())
			});
		</script>
{% endblock %}