<!--user_base.html-->
<!DOCTYPE html>
{% load static from staticfiles %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'style/site.css' %}">
	<meta charset="utf-8">
	<title>{% block title %}Golden Fire Department Information Tracker{% endblock %}</title>
	<div id ="header">
	  <div id = "title">
		<div id = "top">
		  <div style="display:inline-block;vertical-align:top;">
			<img src="{% static "images/golden_fire.png" %}" alt="Fire Station Logo" width="110" height="110"/>
		  </div>
		  <div style="display:inline-block; vertical-align: bottom;">
		    <font face = "georgia" size = "40">&nbsp&nbspGolden Fire Department Information Tracker</font>
		  </div>
		</div>
		<div id = "navigation">
		  <ul>
			<li><a href="{% url 'user_ex' refreshToken=refreshToken %}">Home</a></li>
			<li><a href="{% url 'user_custom' refreshToken=refreshToken %}">Time Logs</a></li>
			<li style ="float:right"><a class="active" href="{% url 'logout' %}">Log Out</a></li>
			<li style="float:right"><a class="active" href="{% url 'user_about' refreshToken=refreshToken%}">About</a></li>
		  </ul>
		</div>
	  </div>
	</div>
  </head>
  <body style="background-image:url({% static 'images/background.jpg' %});">
    <main>
	  {% block content %}
	  {% endblock %}
    </main>
  </body>
</html>