<!--admin_import.html-->
{% extends 'admin_base.html' %}
{% block title %}Import{% endblock %}
{% block content %}
  <div id="centered" class="content">
	<div class="header">
	  <h1>Import Files</h1>
	</div>
	  <p style="font-size: 1.8vw; padding: 0vw 4vw 0vw 4vw;">Use this form to upload the shift report from IamResponding</p>
	  <br>
	  <form enctype="multipart/form-data" method="post" action="{% url 'upload' refreshToken=refreshToken %}">{% csrf_token %}
		<label for="start">Start date:</label>
		<input type="date" placeholder="mm/dd/yyyy" id="start" name="time-start" required>
		<br><br>
		<label for="end">End date:  </label>
		<input type="date" placeholder="mm/dd/yyyy" id="end" name="time-end" required>
		<br><br>
		<input type="file" name="fileToUpload" id="fileToUpload" style="font-size:1.5vw; left: 8px;">
		<input type="checkbox" name="iar_refresh">This report contains corrections</input>
		<br><br>
		<button type="submit" class="button">Upload</button>
      </form>
	  
	  
	  <div class="header">
		<h1>Refresh Database</h1>
	  </div>
	    <br>
		<p style="font-size: 1.8vw; padding: 0vw 4vw 0vw 4vw;">To refresh the database to show new or edited information in Emergency Reporting, select a date range and click Refresh.</p>
		<br>
		<form method="post" action="{% url 'refresh' refreshToken=refreshToken %}">{% csrf_token %}
		  <label for="start">Start date:</label>
		  <input type="date" id="start" name="time-start" "[0-9]{4}-[0-9]{2}-[0-9]{2}" required>
		  <br><br>
		  <label for="end">End date:  </label>
		  <input type="date" id="end" name="time-end" "[0-9]{4}-[0-9]{2}-[0-9]{2}" required> 
		  <br><br>
		  <input type="submit" value="Refresh" class="button">	
		</form>
  </div>
{% endblock %}